# Node/TypeScript
node_modules/
dist/
build/
coverage/
*.log
*.tsbuildinfo

# Env & local config (NEVER COMMIT)
.env
.env.local
.env.development
.env.production
.env.test

# Prisma
prisma/dev.db
prisma/dev.db-journal
# optional generate output (if you generate to src/)
src/generated/
src/generated/**

# Docker
docker-data/
*.pid

# Uploaded files
uploads/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Postman local files
*.postman_environment.json
*.postman_collection.json
